<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880561301966-92jr4bslvo83ichj9lpl03hn4itn3ve8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880561301966-92jr4bslvo83ichj9lpl03hn4itn3ve8</string>
	<key>API_KEY</key>
	<string>AIzaSyAK4MnNufWeqevCs3nTo0sdhuH4SRQkYZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>880561301966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.iappie.SwiftUIFoodOrderingApp</string>
	<key>PROJECT_ID</key>
	<string>swiftuifoodordering</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuifoodordering.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880561301966:ios:6b014ca0ac606ee11e239f</string>
</dict>
</plist>